{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<h1 style="color:whitesmoke; font-size: 70px; font-family: 'Courier New', Courier, monospace; text-align: center">
    <u>About</u>
</h1>

<!--        BUTTONS     -->

<style>
    button {
        border-radius: 5px;
        color: black;
        background-color: blanchedalmond;
        padding: 5px 10px 8px 10px;
    }

    /*Button hover state*/
    button:hover {
        background-color: hotpink
    }

    ul>li {
        display: inline-block;
        list-style: none;
    }
</style>

<ul>
    <li style="padding-left: 30rem; margin-right:0;"">
        <form style=" font-family:'Courier New', Courier, monospace; text-align:center; font-size:24px;" method="get"
        action="{{ url_for('home') }}">
        <button title = "Return to the home page"style="font-family:'Courier New', Courier, monospace; margin-right:6rem;"><b>Home</b></button>
        </form>
    </li>
    <li style="padding-left:3.5rem">
        <form style="font-family:'Courier New', Courier, monospace; text-align:center; font-size:24px;" method="get"
            action="{{ url_for('new') }}">
            <button title="Click here to get your own personalized program" style="font-family:'Courier New', Courier, monospace;" type="submit"><b>New Program</b></button>
        </form>
    </li>
    <li style="padding-left:8.5rem;">
        <form style="font-family:'Courier New', Courier, monospace; text-align:center; font-size:24px;" method="get"
            action="{{ url_for('all') }}">
            <button title = "The exercises that RoboTrainer could recommend" style="font-family:'Courier New', Courier, monospace;" type="submit"><b>Exercises</b></button>
        </form>
    </li>
</ul>
<hr style="color:white; background-color:white;">

<!--########## BUTTONS ##########-->

<div
    style="color:whitesmoke; padding-top:3rem ;font-size:20px; padding-left:25rem; padding-right:25rem; font-family:'Courier New', Courier, monospace; text-align: center">
    <h2>Inspiration</h2>

    <p>Our mutual love for powerlifting.</p>

    <br>

    <h2>What it does</h2>

    <p>Upon completing a quick survey, RoboTrainer will create a personalized workout program in the form of an excel
        sheet.
    </p>

    <br>

    <h2>How we built it</h2>

    <p>Using python, the flask library coupled with some HTML &amp; CSS, an SQL database and the sqlAlchemy python
        library.
    </p>

    <br>

    <h2>Challenges we ran into</h2>

    <p>Teaching ourselves how to use the many tools required to build RoboTrainer, as well as how to connect them all
        together, all during the span of the hackathon.</p>

    <br>

    <h2>Accomplishments that we're proud of</h2>

    <p>Having a working prototype for an application that can help improve people's health. Completing a project in our
        first hackathon.</p>

    <br>

    <h2>What we learned</h2>

    <p>How to write HTML &amp; CSS for the first time, how to research relevant python libraries according to our needs,
        how
        to navigate GitHub to collaborate with a team.</p>

    <br>

    <h2>What's next for RoboTrainer</h2>

    <p>Delivery of a freestanding website/web application.</p>

    <br>
    <br>
</div>

{% endblock %}