{% extends "base.html" %}
{% block title %}Kilos to Pounds{% endblock %}
{% block content %}

<style>
    button,
    input,
    select {
        border-radius: 5px;
        color: black;
        background-color: blanchedalmond;
        padding: 5px 10px 8px 10px;
    }

    /*Button hover state*/
    button:hover {
        background-color: aqua
    }
</style>

<h style="padding-left: 35rem; margin-right:0;"">
    <form style=" text-align:center; font-size:24px;" method="get" action="{{ url_for('home') }}">
    <button title="Return to the home page" style="font-family:rockwell; font-size: 45px;"><b>Home</b></button>
    </form>
</h>


<hr style="color:whitesmoke; background-color:whitesmoke;">

<br>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<p style="color: whitesmoke; text-align:center; font-size:20px; font-family: 'Courier New', Courier, monospace; ">
    {{msg}}</p>
{% endfor %}
{% endif %}
{% endwith %}

<form style="text-align: center; color:whitesmoke; font-size: 45px; font-family: rockwell;"
    action="{{url_for('convert')}}" method="post">
    <b>Enter</b>
    <select name="conv-type" id="conv-type" style="padding: 0.5%; text-align: center;">
        {% if drop == 'kilo' %}
        <option value="topound" selected>Kilograms</option>
        <option value="tokilo">Pounds</option>
        {% endif %}
        {% if drop == 'pound' %}
        <option value="topound">Kilograms</option>
        <option value="tokilo" selected>Pounds</option>
        {% endif %}
    </select>
    <br>
    <br>
    <input placeholder="e.g. 2000" type='text' name='num' />
    <br>
    <br>
    <input type='submit' value='Submit' />
</form>

<b>
    {% block result %}
    <!-- where the result will be displayed -->
    {% endblock %}
</b>

{% endblock %}