{% extends "base.html" %}
{% block title %}Kilos to Pounds{% endblock %}
{% block content %}

<style>
    button, input {
        border-radius: 5px;
        color: black;
        background-color: blanchedalmond;
        padding: 5px 10px 8px 10px;
    }

    /*Button hover state*/
    button:hover {
        background-color: hotpink
    }
</style>

<h style="padding-left: 35rem; margin-right:0;"">
    <form style=" font-family:'Courier New', Courier, monospace; text-align:center; font-size:24px;" method="get"
    action="{{ url_for('home') }}">
    <button title="Return to the home page" style="font-family:'Courier New', Courier, monospace;"><b>Home</b></button>
    </form>
</h>


<hr style="color:whitesmoke; background-color:whitesmoke;">

<br>
<br>

<b>
    {% block result %}
    <!-- where the result will be displayed -->
    {% endblock %}
</b>


<form
    style="padding-top: 12rem; text-align: center; color:whitesmoke; font-size: 24px; font-family: 'Courier New', Courier, monospace;"
    action="{{url_for('convert')}}" method="post">
    <b>Enter pounds</b>
    <br>
    <input type='text' name='pounds' />
    <br>
    <br>
    <input type='submit' value='Submit' />
</form>

{% endblock %}