{% extends "base.html" %}
{% block title %}Exercises{% endblock %}
{% block content %}
<h1 style="color:whitesmoke; font-size: 70px; font-family: 'Courier New', Courier, monospace; text-align: center">
    <u>Exercise Database</u>
</h1>

<!--        BUTTONS     -->

<style>
    button {
        border-radius: 5px;
        color: black;
        background-color: blanchedalmond;
        padding: 5px 10px 8px 10px;
    }

    /*Button hover state*/
    button:hover {
        background-color: hotpink
    }

    ul>li {
        display: inline-block;
        list-style: none;
    }
</style>

<ul>
    <li style="padding-left: 30rem; margin-right:0;"">
        <form style=" font-family:'Courier New', Courier, monospace; text-align:center; font-size:24px;" method="get"
        action="{{ url_for('home') }}">
        <button style="font-family:'Courier New', Courier, monospace; margin-right:6rem;"><b>Home</b></button>
        </form>
    </li>
    <li style="padding-left:3.5rem">
        <form style="font-family:'Courier New', Courier, monospace; text-align:center; font-size:24px;" method="get"
            action="{{ url_for('new') }}">
            <button style="font-family:'Courier New', Courier, monospace;" type="submit"><b>New Program</b></button>
        </form>
    </li>
    <li style="padding-left:8.5rem;">
        <form style="font-family:'Courier New', Courier, monospace; text-align:center; font-size:24px;" method="get"
            action="{{ url_for('about') }}">
            <button style="font-family:'Courier New', Courier, monospace;" type="submit"><b>About</b></button>
        </form>
    </li>
</ul>
<hr style="color:white; background-color:white;">

<!--########## BUTTONS ##########-->

<h1 class="exer" style="text-align:center; color:whitesmoke; font-family: 'Courier New', Courier, monospace;">
    RoboTrainer prescribes exercises from this pool.</h1>

<br>
<h1 style="text-align:center; color:whitesmoke; font-family: 'Courier New', Courier, monospace;">Chest Exercises:</h1>
{% for chest in chests %}
<li style="text-align:center; color:whitesmoke; font-family: 'Courier New', Courier, monospace;">{{chest.name}}</li>
{% endfor %}

<h1 style="text-align:center; color:whitesmoke; font-family: 'Courier New', Courier, monospace;"><br>Shoulders
    Exercises:</h1>
{% for shoulder in shoulders %}
<li style="text-align:center; color:whitesmoke; font-family: 'Courier New', Courier, monospace;">{{shoulder.name}}</li>
{% endfor %}

<h1 style="text-align:center; color:whitesmoke; font-family: 'Courier New', Courier, monospace;"><br>Tricep Exercises:
</h1>
{% for tricep in triceps %}
<li style="text-align:center; color:whitesmoke; font-family: 'Courier New', Courier, monospace;">{{tricep.name}}</li>
{% endfor %}

<h1 style="text-align:center; color:whitesmoke; font-family: 'Courier New', Courier, monospace;"><br>Back Exercises</h1>
{% for back in backs %}
<li style="text-align:center; color:whitesmoke; font-family: 'Courier New', Courier, monospace;">{{back.name}}</li>
{% endfor %}

<h1 style="text-align:center; color:whitesmoke; font-family: 'Courier New', Courier, monospace;"><br>Bicep Exercises
</h1>
{% for bicep in biceps %}
<li style="text-align:center; color:whitesmoke; font-family: 'Courier New', Courier, monospace;">{{bicep.name}}</li>
{% endfor %}

<h1 style="text-align:center; color:whitesmoke; font-family: 'Courier New', Courier, monospace;"><br>Legs Exercises</h1>
{% for leg in legs %}
<li style="text-align:center; color:whitesmoke; font-family: 'Courier New', Courier, monospace;">{{leg.name}}</li>
{% endfor %}

<br>
<br>

{% endblock %}