{% extends "base.html" %}
{% block title %}Exercises{% endblock %}
{% block content %}
<h1 style="color:whitesmoke; font-size: 70px; font-family: rockwell; text-align: center">
    <u>Exercise Database</u>
</h1>

<!--        BUTTONS     -->

<style>
    button {
        border-radius: 5px;
        color: black;
        background-color: blanchedalmond;
        padding: 5px 10px 8px 10px;
    }

    /*Button hover state*/
    button:hover {
        background-color: aqua
    }

    h1 {
        font-family: rockwell;
        text-align: center;
        color: whitesmoke;
    }

    ul>li {
        display: inline-block;
        list-style: none;

    }

    li {
        font-family: rockwell;
        text-align: center;
        color: whitesmoke;
        font-size: 20px;
    }
</style>

<ul>
    <li style="padding-left: 27%; margin-right:0;"">
        <form style=" font-family:'Courier New', Courier, monospace; text-align:center; font-size:24px;" method="get"
        action="{{ url_for('home') }}">
        <button title="Return to home page"
            style="font-family:'Courier New', Courier, monospace; margin-right:6rem;"><b>Home</b></button>
        </form>
    </li>
    <li style="padding-left:3.5rem">
        <form style="font-family:'Courier New', Courier, monospace; text-align:center; font-size:24px;" method="get"
            action="{{ url_for('new') }}">
            <button title="Get your own personalized program" style="font-family:'Courier New', Courier, monospace;"
                type="submit"><b>New Program</b></button>
        </form>
    </li>
    <li style="padding-left:8.5rem;">
        <form style="font-family:'Courier New', Courier, monospace; text-align:center; font-size:24px;" method="get"
            action="{{ url_for('about') }}">
            <button title="Learn about RoboTrainer's program" style="font-family:'Courier New', Courier, monospace;"
                type="submit"><b>About</b></button>
        </form>
    </li>
</ul>
<hr style="color:whitesmoke; background-color:whitesmoke;">

<!--########## BUTTONS ##########-->

<h1 class="exer" style="text-align:center; color:whitesmoke; font-family: rockwell">
    RoboTrainer prescribes exercises from this pool.</h1>

<br>
<h1>Compound Exercises:</h1>
<li>Squat</li>
<li>Bench</li>
<li>Deadlift</li>



<br>
<h1>Chest Exercises:</h1>
{% for chest in chests %}
<li>{{chest.name}}</li>
{% endfor %}

<h1><br>Shoulders
    Exercises:</h1>
{% for shoulder in shoulders %}
<li>{{shoulder.name}}</li>
{% endfor %}

<h1><br>Tricep Exercises:
</h1>
{% for tricep in triceps %}
<li>{{tricep.name}}</li>
{% endfor %}

<h1><br>Back Exercises</h1>
{% for back in backs %}
<li>{{back.name}}</li>
{% endfor %}

<h1><br>Bicep Exercises
</h1>
{% for bicep in biceps %}
<li>{{bicep.name}}</li>
{% endfor %}

<h1><br>Legs Exercises</h1>
{% for leg in legs %}
<li>{{leg.name}}</li>
{% endfor %}

<br>
<br>

{% endblock %}