<!doctype html>
<html>
<head>
    <title>Home page</title>
    <style>
        body {
            background-image: url("../static/fish.jpg");
            background-size: 100%;
        }
    </style>
    </head>
    <body>
        <div style = "position:absolute; top:500px; left:700px">
        <audio controls loop>
            <source src="../static/snore.mp3" type="audio/mpeg">
        </audio>
        </div>

        <BODY TEXT="CYAN">
            <div id="image" style="background:url(/static/fish.jpg) center / cover no-repeat;"></div>
        <h1 style="text-align:center;">welcome Friend! {{content}}</h1>
        <h1 style="text-align:left;">{{content}}</h1>
        <h1 style="text-align:center;">{{r}}</h1>
        {% for x in range(1, 19)%}
                <h1 style="text-align:right;">{{x}} {{r}}</h1>
        {% endfor %}

    </body>
</html>