{% extends "base.html" %}
{% block title %}RoboTrainer{% endblock %}
{% block content %}
<h1 style="padding-top:10rem; font-size:75px; color:whitesmoke; font-family: 'Courier New', Courier, monospace; text-align: center">Hello, I am RoboTrainer...</h1>
<style>
    button {
        border-radius: 5px;
        color: black;
        background-color: blanchedalmond;
        padding: 5px 10px 8px 10px;
    }

    /*Button hover state*/
    button:hover {
        background-color: hotpink
    }

    ul>li {
        display: inline-block;
        list-style: none;
    }
</style>

<br>
<br>

<!-- about the developers and program button -->
<form style="text-align: center; font-size:24px;" method="get" action="{{ url_for('about') }}">
    <button style="font-family:'Courier New', Courier, monospace;" type="submit"><b>About</b></button>
</form>

<br>

<!-- start a new program button -->
<form style="text-align: center; font-size:24px;" method="get" action="{{ url_for('new') }}">
    <button style="font-family:'Courier New', Courier, monospace;" type="submit"><b>New Program</b></button>
</form>

<br>

<!-- database button -->
<form style="text-align: center; font-size:24px;" method="get" action="{{ url_for('all') }}">
    <button style="font-family:'Courier New', Courier, monospace;" type="submit"><b>Exercise Database</b></button>
</form>


<img style="border-radius: 50%;" src="https://media.istockphoto.com/vectors/cute-monkey-weightlifting-cartoon-vector-id1143183272?k=20&m=1143183272&s=612x612&w=0&h=VBIQugArJlAJ7_FOQ-8KN8anGq4sx2zmJhP7lXd8rQE=" alt="monks">

{% endblock %}