{% extends "base.html" %}
{% block title %}Team Generator{% endblock %}
{% block content %}

<style>
    button, input {
        border-radius: 5px;
        color: black;
        background-color: blanchedalmond;
        padding: 5px 10px 8px 10px;
    }

    /*Button hover state*/
    button:hover {
        background-color: hotpink
    }
    ::placeholder {
        color:#bebebe
    }
</style>

<h style="padding-left: 35rem; margin-right:0;"">
    <form style=" font-family:'Courier New', Courier, monospace; text-align:center; font-size:24px;" method="get"
    action="{{ url_for('home') }}">
    <button title="Return to the home page" style="font-family:'Courier New', Courier, monospace;"><b>Home</b></button>
    </form>
</h>


<hr style="color:whitesmoke; background-color:whitesmoke;">

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<p style="color:black; text-align:center; font-size:20px; font-family: 'Courier New', Courier, monospace; ">{{msg}}</p>
{% endfor %}
{% endif %}
{% endwith %}

<form
    style="padding-top: 5rem; text-align: center; color: whitesmoke; font-size: 24px; font-family: 'Courier New', Courier, monospace;"
    action="#" method="post">
    <section style="text-align: center;">
        <h1>Competitor 1:</h1>

        <h2 style="padding-right: 6.8rem;"> Name:
            <input placeholder="e.g. Carlos" type='text' name='competitor1' />
        </h2>

        <h2 style="padding-right: 8rem;">Total:
            <input placeholder="e.g. 2000" type='text' name='total1' />
        </h2>
    </section>

    <br>
    {% for i in range (2, num + 1) %}

    <section style="text-align: center;">
        <h1>Competitor {{i}}:</h1>

        <h2 style="padding-right: 6.8rem;"> Name:
            <input type='text' name='competitor{{i}}' />
        </h2>

        <h2 style="padding-right: 8rem;">Total:
            <input type='text' name='total{{i}}' />
        </h2>
    </section>

    <br>

    {% endfor %}

    <input type='submit' value='Submit' />

    <br>
    <br>

</form>

{% endblock %}